<div *ngIf="photos && photos.length >0" class="center">
  <h2 *ngIf="albumName" [translate]="'PHOTOS_OF_ALBUM'" [translateParams]="{album: albumName}"></h2>
</div>

<div *ngIf="!photos" class="center">
  <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" alt="Loading...">
</div>
<div *ngIf="photos && photos.length == 0" class="center">
  <h3>{{'NO_PHOTO' | translate }}</h3>
</div>
<table *ngIf="photos && photos.length >0">
  <tr>
    <th>{{'NUMBER' | translate}}</th>
    <th>{{'LIKES' | translate}}</th>
    <th>{{'PHOTO' | translate}}</th>
    <th>{{'AUTHOR' | translate}}</th>
    <th>{{'COMMENTS'| translate}}</th>
  </tr>
  <tr *ngFor="let photo of photos; index as i" class="photo">
    <td>{{i+1}}</td>
    <td>{{photo.likes}}</td>
    <td><a href="{{photo.link}}"><img src="{{photo.source}}" alt="" width="200px"></a></td>
    <td> {{photo.name}}</td>
    <td>{{photo.comments}}</td>
  </tr>
</table>

