<h2 [translate]="'PHOTOS_OF_ALBUM'" [translateParams]="{album: albumName}"></h2>
<table>
  <tr>
    <th>{{'NUMBER' | translate}}</th>
    <th>{{'LIKES' | translate}}</th>
    <th>{{'PHOTO' | translate}}</th>
    <th>{{'AUTHOR' | translate}}</th>
    <th>{{'COMMENTS'| translate}}</th>
  </tr>
  <tr *ngFor="let photo of photos; index as i" class="photo">
    <td>{{i+1}}</td>
    <td>{{photo.likes}}</td>
    <td><img src="{{photo.source}}" alt="" width="200px"></td>
    <td> {{photo.name}}</td>
    <td>{{photo.comments}}</td>
  </tr>
</table>

