<div class="media" *ngIf="logged && profile && profile.id">
  <div class="media-left">
    <img src="{{profile.picture.data.url}}" alt="photo" class="media-object">
  </div>
  <div class="media-body">
    <h4 class="media-heading" [translate]="'WELCOME'" [translateParams]="{name: profile.name}"></h4>
    <p>{{'WELCOME_MESSAGE' | translate}}</p>
  </div>
</div>
<div  *ngIf="!logged" >
  <h4>{{'PLEASE_LOG_IN' | translate}}</h4>
</div>
<div class = "button-container">
  <button *ngIf="logged && profile && profile.id" class="btn btn-primary" (click)="getGroups()">{{'LIST_GROUPS' | translate}}</button>
  <button *ngIf="logged && profile && profile.id" class="btn btn-primary" (click)="getPages()">{{'LIST_PAGES' | translate}}</button>
  <button *ngIf="logged && profile && profile.id" class="btn btn-primary" (click)="getAlbums()">{{'LIST_ALBUMS' | translate}}</button>
  <button *ngIf="logged && profile && profile.id" class="btn btn-primary" (click)="getPhotos()">{{'LIST_PHOTOS' | translate}}</button>
</div>