/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.button-container{
    padding-top:10px;
}
.center{
    text-align: center;
}

.content {
    overflow-y: auto;
    max-height: 80vh;
    width: auto;
  }
