<div *ngIf="albums && albums.length >0" class="center">
  <h2 *ngIf="nodeName" [translate]="'ALBUMS_OF_NODE'" [translateParams]="{node: nodeName}"></h2>
  <h3>{{'SELECT_ALBUM' | translate }} </h3>
</div>

<div *ngIf="!albums" class="center">
  <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" alt="Loading...">
</div>
<div *ngIf="albums && albums.length == 0" class="center">
  <h3>{{'NO_ALBUM' | translate }}</h3>
</div>
<div class="container search-container" *ngIf="albums && albums.length >0">
    <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <div id="custom-search-input">
                  <div class="input-group col-md-12">
                      <input type="text" #searchValue (keyup.enter)="searchAlbums(searchValue.value)" class="form-control input-lg" placeholder="{{'SEARCH_ALBUM' | translate }}" />
                      <span class="input-group-btn">
                          <button class="btn btn-info btn-lg" type="button" (click)="searchAlbums(searchValue.value)">
                              <i class="glyphicon glyphicon-search"></i>
                          </button>
                      </span>
                  </div>
              </div>
          </div>
    </div>
  </div>
  <div class = "button-container">
      <button *ngIf="searchMode && albums" class="btn btn-primary" (click)="showAll()">{{'SHOW_ALL' | translate}}</button>
  </div>
<div class="content container search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300"
  [scrollWindow]="false" [immediateCheck]="true" (scrolled)="onScroll()">
  <ul class="list" *ngIf="albums && albums.length >0">
    <li class="list-item" *ngFor="let album of albums">
      <div class="list-content">
        <h3>{{album.name}}</h3>
        <a [routerLink]="['/photos',album.id, album.name,'DATE']">
      <img height="200" src="{{album.cover_photo ? album.cover_photo.images[0].source : ''}}" alt="{{album.name}}"/>
      </a>
        <p>{{album.description}}</p>
        <a href="{{album.link}}">{{'LINK_TO_FB' | translate}}</a>
        <a [routerLink]="['/photos',album.id, album.name,'LIKE']">{{'PHOTOS_BY_LIKES' | translate}}</a>
      </div>
    </li>
  </ul>
</div>